services:
  gnn_tcc_dev:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.gpu
      args:
        BASE_IMAGE_TAG: "25.08-py3"

    container_name: gnn_tcc_container_gpu

    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    volumes:
      - ..:/app/gnn_tcc
    working_dir: /app/gnn_tcc

    command: ["/bin/bash", "-c", "while true; do sleep infinity; done"]
