# requirements.txt
pandas
numpy
matplotlib
seaborn
tqdm
ipykernel
pydantic
scikit-learn
xgboost
plotly
polars
pyarrow

optuna
pyvis
beautifulsoup4

memory_profiler
memray
psutil

mlflow
hydra-core
hydra-optuna-sweeper
dvc
safetensors
ruff